<div class="card">
  <div class="card-header">
    <h3>{{ "Lista Autos" | traduce:"es" }}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        {{ "Filtro" | traduce:"es" }}:
        <input type="text" [(ngModel)]="filtro" name="filtro">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <h5>{{ "Filtrado por" | traduce:"es" }}: {{ filtro }}</h5>
      </div>
      <div class="col-md-6 text-md-end">
        <a [routerLink]="['/auto']" class="btn btn-info">{{ "Nuevo" | traduce:"es" }}</a>
      </div>
    </div>
  </div>
  <section>
    <table class="table" *ngIf="listaAutosFiltrados.length > 0">
      <thead>
        <tr class="text-primary">
          <th>
            <button class="btn btn-primary" (click)="toggleImage()">
              {{ muestraImagen ? "Oculta" : "Muestra" }} imagen
            </button>
          </th>
          <th>{{ "Marca" | traduce:"es" }}</th>
          <th>{{ "Modelo" | traduce:"es" }}</th>
          <th>{{ "Año" | traduce:"es" }}</th>
          <th>{{ "Color" | traduce:"es" }}</th>
          <th>{{ "Kilómetros" | traduce:"es" }}</th>
          <th>{{ "Precio" | traduce:"es" }}</th>
          <th>{{ "Calificación" | traduce:"es" }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auto of listaAutosFiltrados">
          <td>
            <p *ngIf="muestraImagen">
              <img [src]="auto.imagenUrl" [style.width.px]="anchoImagen" [style.margin.px]="margenImagen">
            </p>
          </td>
          <td>{{ auto.marca }}</td>
          <td>
            <a [routerLink]="['/auto', auto.id]">{{ auto.modelo | lowercase | aEspacio:"-" }}</a>
          </td>
          <td>{{ auto.anio }}</td>
          <td>{{ auto.color }}</td>
          <td>{{ auto.kilometros | number }}</td>
          <td>{{ auto.precio | currency }}</td>
          <td>
            <estrellas [calificacion]="auto.calificacion" (starsClick)="onClickCalificacion(auto.calificacion.toString())"></estrellas>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>


